<footer>
    <div class="foot-cont">
        <div class="foot-right">
            <p class="logo"><img src="/images/logo-foot.png" alt="대성기업호이스트(주)"></p>
            <ul class="sns-links">
                <li><a href="" class="sns01" target="_blank"><span class="blind">유튜브</span></a></li>
                <li><a href="" class="sns02" target="_blank"><span class="blind">블로그</span></a></li>
            </ul>
        </div>
        <div class="foot-left">
            <ul class="links">
                <li><a href="">이용약관</a></li>
                <li><a href="" class="fw-medium">개인정보취급방침</a></li>
                <li><a href="/page/sub_01_08.html">오시는 길</a></li>
                <li><a href="">관리자</a></li>
            </ul>
            <div class="infos">
                <p><span>상호</span>대성기업호이스트(주)</p>
                <p><span>대표이사</span>김미자</p>
                <p><span>고객센터</span>031-366-2303</p>
                <p><span>이메일주소</span>dss2580@naver.com</p>
                <p><span>주소</span>경기 화성시 팔탄면 지월길 30-5(지월리 590-3번지)</p>
                <p><span>사업자등록번호</span>143-81-10463(<a href="" target="_blank">사업자정보확인</a>)</p>
            </div>
            <p class="copyright">Copyright ⓒ 대성기업호이스트(주). All Rights Reserved</p>
        </div>
    </div>
</footer>