<header>
    <div class="head-cont">
        <h1><a href="/"><img src="/images/logo.png" alt="대성기업호이스트(주)"></a></h1>
        <nav id="gnb">
            <ul class="depth1">
                <li>
                    <a href="/page/sub_01_01.html" class="dep1">회사소개</a>
                    <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
                    <div class="depth2-wrap">
                        <div class="area cate01">
                            <p class="dep1-tit" aria-hidden="true">회사소개</p>
                            <ul class="depth2">
                                <li><a href="/page/sub_01_01.html" class="dep2">인사말</a></li>
                                <li><a href="/page/sub_01_02.html" class="dep2">회사개요</a></li>
                                <li><a href="/page/sub_01_03.html" class="dep2">사업분야</a></li>
                                <li><a href="/page/sub_01_04.html" class="dep2">회사연혁</a></li>
                                <li><a href="/page/sub_01_05.html" class="dep2">인증서현황</a></li>
                                <li><a href="/page/sub_01_06.html" class="dep2">조직도</a></li>
                                <li><a href="/page/sub_01_07.html" class="dep2">협력사</a></li>
                                <li><a href="/page/sub_01_08.html" class="dep2">오시는 길</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/page/sub_02_01.html" class="dep1">제품소개</a>
                    <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
                    <div class="depth2-wrap">
                        <div class="area cate02">
                            <p class="dep1-tit" aria-hidden="true">제품소개</p>
                            <ul class="depth2">
                                <li><a href="/page/sub_02_01.html" class="dep2">크레인주행 전원공급장치</a></li>
                                <li><a href="/page/sub_02_02.html" class="dep2">크레인횡행 전원공급장치</a></li>
                                <li><a href="/page/sub_02_03.html" class="dep2">크레인전장 부속품</a></li>
                                <li><a href="/page/sub_02_04.html" class="dep2">크레인 철강재</a></li>
                                <li><a href="/page/sub_02_05.html" class="dep2">호이스트</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/page/sub_03_01.html" class="dep1">제작설치</a>
                    <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
                    <div class="depth2-wrap">
                        <div class="area cate03">
                            <p class="dep1-tit" aria-hidden="true">제작설치</p>
                            <ul class="depth2">
                                <li><a href="/page/sub_03_01.html" class="dep2">I-Beam 헹거설치</a></li>
                                <li><a href="/page/sub_03_02.html" class="dep2">I-Beam 거더 호이스트</a></li>
                                <li><a href="/page/sub_03_03.html" class="dep2">강철 레일바</a></li>
                                <li><a href="/page/sub_03_04.html" class="dep2">겐트리 크레인</a></li>
                                <li><a href="/page/sub_03_05.html" class="dep2">더블 호이스트</a></li>
                                <li><a href="/page/sub_03_06.html" class="dep2">모노레일 호이스트</a></li>
                                <li><a href="/page/sub_03_07.html" class="dep2">서스펜션 호이스트</a></li>
                                <li><a href="/page/sub_03_08.html" class="dep2">싱글 호이스트</a></li>
                                <li><a href="/page/sub_03_09.html" class="dep2">연단동 호이스트</a></li>
                                <li><a href="/page/sub_03_10.html" class="dep2">자동화라인</a></li>
                                <li><a href="/page/sub_03_11.html" class="dep2">지브 크레인</a></li>
                                <li><a href="/page/sub_03_12.html" class="dep2">철트랙</a></li>
                                <li><a href="/page/sub_03_13.html" class="dep2">친자 호이스트</a></li>
                                <li><a href="/page/sub_03_14.html" class="dep2">콤팩트바</a></li>
                                <li><a href="/page/sub_03_15.html" class="dep2">트로리바</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/page/sub_04_01.html" class="dep1">온라인문의</a>
                    <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
                    <div class="depth2-wrap">
                        <div class="area cate04">
                            <p class="dep1-tit" aria-hidden="true">온라인문의</p>
                            <ul class="depth2">
                                <li><a href="/page/sub_04_01.html" class="dep2">상담신청</a></li>
                                <li><a href="/page/sub_04_02.html" class="dep2">카탈로그</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/page/sub_05_01.html" class="dep1">고객지원</a>
                    <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
                    <div class="depth2-wrap">
                        <div class="area cate05">
                            <p class="dep1-tit" aria-hidden="true">고객지원</p>
                            <ul class="depth2">
                                <li><a href="/page/sub_05_01.html" class="dep2">뉴스&amp;공지</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <ul class="language-select">
            <li><a href="" class="active">KR</a></li>
            <li><a href="">EN</a></li>
        </ul>
        <button type="button" class="btn-sitemap" data-toggle="modal" data-target="#sitemap"><span class="bar"></span><span class="blind">전체메뉴 보기</span></button>
        <button type="button" class="btn-menu-all"><span class="bar"></span><span class="blind">전체메뉴 보기</span></button>
    </div>
    <div id="sitemap" class="sitemap-wrap" data-type="modal" aria-hidden="true">
        <nav>
            <ul>
                <li>
                    <p class="dep1">회사소개</p>
                    <ul class="depth2">
                        <li><a href="/page/sub_01_01.html" class="dep2">인사말</a></li>
                        <li><a href="/page/sub_01_02.html" class="dep2">회사개요</a></li>
                        <li><a href="/page/sub_01_03.html" class="dep2">사업분야</a></li>
                        <li><a href="/page/sub_01_04.html" class="dep2">회사연혁</a></li>
                        <li><a href="/page/sub_01_05.html" class="dep2">인증서현황</a></li>
                        <li><a href="/page/sub_01_06.html" class="dep2">조직도</a></li>
                        <li><a href="/page/sub_01_07.html" class="dep2">협력사</a></li>
                        <li><a href="/page/sub_01_08.html" class="dep2">오시는 길</a></li>
                    </ul>
                </li>
                <li>
                    <p class="dep1">제품소개</p>
                    <ul class="depth2">
                        <li><a href="/page/sub_02_01.html" class="dep2">크레인주행 전원공급장치</a></li>
                        <li><a href="/page/sub_02_02.html" class="dep2">크레인횡행 전원공급장치</a></li>
                        <li><a href="/page/sub_02_03.html" class="dep2">크레인전장 부속품</a></li>
                        <li><a href="/page/sub_02_04.html" class="dep2">크레인 철강재</a></li>
                        <li><a href="/page/sub_02_05.html" class="dep2">호이스트</a></li>
                    </ul>
                </li>
                <li>
                    <p class="dep1">제작설치</p>
                    <ul class="depth2">
                        <li><a href="/page/sub_03_01.html" class="dep2">I-Beam 헹거설치</a></li>
                        <li><a href="/page/sub_03_02.html" class="dep2">I-Beam 거더 호이스트</a></li>
                        <li><a href="/page/sub_03_03.html" class="dep2">강철 레일바</a></li>
                        <li><a href="/page/sub_03_04.html" class="dep2">겐트리 크레인</a></li>
                        <li><a href="/page/sub_03_05.html" class="dep2">더블 호이스트</a></li>
                        <li><a href="/page/sub_03_06.html" class="dep2">모노레일 호이스트</a></li>
                        <li><a href="/page/sub_03_07.html" class="dep2">서스펜션 호이스트</a></li>
                        <li><a href="/page/sub_03_08.html" class="dep2">싱글 호이스트</a></li>
                        <li><a href="/page/sub_03_09.html" class="dep2">연단동 호이스트</a></li>
                        <li><a href="/page/sub_03_10.html" class="dep2">자동화라인</a></li>
                        <li><a href="/page/sub_03_11.html" class="dep2">지브 크레인</a></li>
                        <li><a href="/page/sub_03_12.html" class="dep2">철트랙</a></li>
                        <li><a href="/page/sub_03_13.html" class="dep2">친자 호이스트</a></li>
                        <li><a href="/page/sub_03_14.html" class="dep2">콤팩트바</a></li>
                        <li><a href="/page/sub_03_15.html" class="dep2">트로리바</a></li>
                    </ul>
                </li>
                <li>
                    <p class="dep1">온라인문의</p>
                    <ul class="depth2">
                        <li><a href="/page/sub_04_01.html" class="dep2">상담신청</a></li>
                        <li><a href="/page/sub_04_02.html" class="dep2">카탈로그</a></li>
                    </ul>
                </li>
                <li>
                    <p class="dep1">고객지원</p>
                    <ul class="depth2">
                        <li><a href="/page/sub_05_01.html" class="dep2">뉴스&amp;공지</a></li>
                    </ul>
                </li>
            </ul>
            <button type="button" class="btn-close" data-toggle="modal-close"><span class="blind">닫기</span></button>
        </nav>
    </div>
</header>